 *{
 	margin:0;
 	padding:0;
 	box-sizing:border-content;
 }
 #app{
 	    width: calc(100% - 20px);
        font-size:14px;
        margin:10px;
/*        border: 1px solid red;*/
    }
    
    button{
        padding:8px 12px;
        margin-right:10px;
        border-radius:5px;
    }
    .flexdiv{
/*    	width:100%;
    	padding:10px;
    	border: 1px solid red;*/

    }
    textarea {
      display:block;
      border: 1px solid #ccc;
      border-radius:2px;
    }
    .divstl{
      width:calc(100% - 20px);
      height: 300px;
      padding: 10px;
      font-size:14px;
      color:#303133;
      margin: 10px 0 20px;
    }

    .highlightedText {
      border: 1px dashed #ccc;
      overflow-y: auto;
      white-space:pre-wrap;
    }
    .filterWords{
        font-size:16px;
        padding: 0 0 10px;
        
    }
    .filterWords strong{
        color:#F56C6C;
    }
    .filterWords div{
        margin-top:10px;
    }
    .tips{
        font-size:12px;
        color:#666;
        margin-top:4px;
    }
    /* 当屏幕宽度大于768像素时，应用以下样式 */
@media (min-width: 768px) {
  .divstl{
      width:calc(50% - 30px);
      margin:0;
      height: 550px;
   }
   textarea{
   	float:left;
   }
   .highlightedText {
   	float:right;
   }

}
