<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>词库外敏感词</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="app">
    <div class="filterWords">
      词库外敏感词
      <span v-if="num>0">（{{num}}）：</span>
      <span v-if="num==0">：无</span>
      <strong v-html="filterWords"></strong>
      <div v-if="num>0" class="tips">( 括号内仅为修改参考 )</div>
    </div>
    <div class="filterWords">
      易错词：{{noticeWords}}
    </div>

    <div style="margin-bottom:10px;">
        <button @click="highlightKeywords" style="background:#409EFF;color:white;">查找</button>
        <button @click="clearText">清空</button>
    </div>

    <!-- 文本域-->
    <div class="flexdiv">
        <textarea v-model="searchTerm" placeholder="输入文本" class="divstl"></textarea>
        <div class="divstl highlightedText" v-html="highlightedText"></div>
        <div style="clear:both;"></div>
    </div>
    
  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./index.js"></script>

</body>
</html>
